cache
__pycache__
LOG
*.csv
.*.swp
*.db
*.o
*.so
*.log
model.xml
packages.xml
hierarchy.xml
archspecific.xml
stree.xml
componentmodel.xml
functions
components.gv
components.pdf
projects.gv
projects.pdf
topics.gv
topics.pdf
obsgit
*.txt
*.solv
